# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

##### Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>

##### Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Tensor flow</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
    <li>Pytorch</li>
    <li>Scikit</li>

<table style="width:20%">
<tr>
<th> Data Science Tools </th>
</tr>
<tr><td>Apache Hadoop</td></tr>
<tr><td>SAS (Statistical Analysis System)</td></tr>
<tr><td>Apache Spark</td></tr>
<tr><td>Data Robot</td></tr>
<tr><td>Tableau</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
print("200 minutes in hours is {} hours".format(200//60))

200 minutes in hours is 3 hours

 __Objectives :__
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>Concept of REST API's</li>
    <li>R Studio</li>
    <li>Git Hub</li>
    </ul>

## Author
K.Santosh Kumar